* a {
  text-decoration: none;
}
.fas.fa-shopping-cart {
    display: flex;
    align-items: center;
    color: #012e67;
    text-decoration: none;
    margin: 0rem 1rem;
}
.fas.fa-shopping-cart:hover {
  color: white;
}

.navbar-bg {
  background-color: #0f62959d!important;
  margin-bottom: 1rem;
}

.navbar-nav a {
  color:#012e67;
  margin: 0rem 0.5rem;
}
.navbar-nav a:hover {
  color: white;
}

.logo-nav {
    height: 4.5rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }
}

/* CARROUSEL */
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none;
}

.carousel-caption p {
  font-size: 1.5rem;
}

.carousel-caption h3 {
  font-size: 3rem;
}
