.fas.fa-shopping-cart {
    display: flex;
    align-items: center;
}

.logo-nav {
    height: 4.5rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }
}
